In [5]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction import FeatureHasher

In [6]:
# download the data here
# !curl -L -o ../data/sample5.csv "https://drive.google.com/uc?export=download&id=1KEMfwDKxd5klTA9tFo6Nsgmi0pANIl7m"

In [7]:
url ='https://drive.google.com/uc?id=1KEMfwDKxd5klTA9tFo6Nsgmi0pANIl7m'
df = pd.read_csv(url)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          50000 non-null  int64
 1   make          49047 non-null  object
 2   model         49037 non-null  object
 3   trim          49012 non-null  object
 4   body          48782 non-null  object
 5   transmission  44014 non-null  object
 6   vin           49999 non-null  object
 7   state         50000 non-null  object
 8   condition     48923 non-null  float64
 9   odometer      49995 non-null  float64
 10  color         49946 non-null  object
 11  interior      49946 non-null  object
 12  seller        50000 non-null  object
 13  sellingprice  50000 non-null  int64
 14  saledate      50000 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 5.7+ MB

In [9]:
df.sample(5)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,sellingprice,saledate
31342,2014,Kia,Forte,LX,Sedan,NaN,knafx4a69e5239926,co,47.0,10666.0,red,gray,kia motors america inc,12600,Tue Feb 17 2015 04:00:00 GMT-0800 (PST)
49009,2013,Kia,Forte,EX,sedan,automatic,knafu4a21d5740443,ca,32.0,57238.0,red,gray,the hertz corporation,8800,Tue Jun 09 2015 05:30:00 GMT-0700 (PDT)
623,2012,Hyundai,Elantra,GLS,Sedan,NaN,5npdh4ae6ch125443,pa,4.0,26678.0,silver,gray,hyundai motor finance,11300,Fri Jan 02 2015 09:00:00 GMT-0800 (PST)
29396,2004,Buick,LeSabre,Custom,Sedan,automatic,1g4hp54k344156177,nj,27.0,50351.0,beige,tan,lester glenn buick,4200,Wed Feb 04 2015 01:30:00 GMT-0800 (PST)
40934,2008,Dodge,Ram Pickup 2500,SLT,quad cab,automatic,3d7ks28a88g116359,pa,46.0,74220.0,blue,gray,my car llc,28800,Fri May 29 2015 02:30:00 GMT-0700 (PDT)

In [10]:
# Before encoding, take a look at the unique values
for col in df.columns:
  print(col, df[col].nunique())

year 27
make 80
model 751
trim 1222
body 73
transmission 3
vin 49925
state 40
condition 41
odometer 41966
color 21
interior 17
seller 5350
sellingprice 971
saledate 2321

In [11]:
for col in df.columns:
  print(col, df[col].unique())

year [2013 2009 2008 2014 2012 2006 2003 2007 2015 2005 2002 2004 2001 2000
 1999 2011 2010 1994 1996 1998 1993 1997 1995 1992 1991 1990 1986]
make ['Ford' 'Infiniti' 'Jeep' 'Kia' 'Toyota' 'Nissan' 'Chrysler' 'BMW'
 'Chevrolet' 'Porsche' nan 'GMC' 'Hyundai' 'Buick' 'Lincoln' 'Cadillac'
 'Lexus' 'Honda' 'Acura' 'chrysler' 'Pontiac' 'Audi' 'Mercedes-Benz'
 'Volkswagen' 'Dodge' 'Ram' 'Mazda' 'HUMMER' 'Jaguar' 'Subaru' 'MINI'
 'Mitsubishi' 'Volvo' 'Land Rover' 'Mercury' 'land rover' 'Scion'
 'lincoln' 'Fisker' 'Bentley' 'ford' 'Saturn' 'jeep' 'Lamborghini' 'FIAT'
 'Saab' 'smart' 'Maserati' 'chevrolet' 'Suzuki' 'toyota' 'pontiac'
 'nissan' 'Oldsmobile' 'mazda' 'honda' 'lexus' 'cadillac' 'dodge'
 'plymouth' 'vw' 'Ferrari' 'mitsubishi' 'Isuzu' 'bmw' 'subaru' 'Geo' 'gmc'
 'mercedes' 'Aston Martin' 'oldsmobile' 'mercury' 'volkswagen' 'gmc truck'
 'maserati' 'acura' 'Tesla' 'landrover' 'hyundai' 'Rolls-Royce' 'porsche']
model ['Fusion' 'JX' 'Grand Cherokee' 'F-350 Super Duty' 'Sportage' 'Tacoma'
 'Altima' 'Maxima' 'Pathfinder' 'Town and Country' 'X5' '200' 'Optima'
 'TrailBlazer' 'Panamera' 'Impala' 'Corolla' nan 'Yukon XL' 'Traverse'
 'Sonata' 'Silverado 1500' 'LaCrosse' 'Sorento' 'Navigator' '7 Series'
 'Impala Limited' 'Malibu' 'Elantra' 'Escalade ESV' 'Equinox' 'ES 350'
 'Accord' 'X3' 'Suburban' 'RDX' '300' 'Cruze' 'grand' 'Focus' 'Frontier'
 'Firebird' 'A6' 'Explorer' 'GL-Class' '4Runner' 'Edge' 'F-150' 'CTS'
 'New Beetle' 'Patriot' 'Charger' 'HHR' '1500' 'Mazda6' 'Fiesta' 'E-Class'
 'FX35' 'Rogue' 'Mazda2' 'Santa Fe' 'Fit' 'Grand Caravan' 'Mazda3' 'CR-V'
 'RX 350' 'Escape' 'Mustang' 'H3' 'Grand Prix' 'A7' 'Avenger' 'Spectra'
 'Sequoia' 'Envoy' 'Civic' 'Camry' 'Pilot' 'Durango' 'Ranger' 'Caliber'
 'C-Class' 'Forte' 'Passat' 'Sierra 1500' 'XF' 'SRX' 'Yaris' 'DeVille'
 'Genesis Coupe' 'Journey' 'Forester' '5 Series' 'Yukon' 'Jetta' 'Cooper'
 'Galant' 'Versa' 'Challenger' 'Ram Pickup 2500' '3 Series' 'XC70'
 'Lumina' 'Silverado 2500HD' 'Rendezvous' 'Colorado' 'Nitro' 'R-Class'
 'Sienna' 'Range Rover Sport' '2500' 'Cooper Clubman' 'Liberty' 'Volt'
 'I30' 'Sentra' 'Odyssey' 'SL-Class' 'Monte Carlo' 'FX' 'MKZ' 'Legacy'
 'X6' 'Terrain' 'Lancer' 'Taurus' 'Transit Connect' 'Ram Pickup 1500'
 'MKX' 'A4' 'RX 300' '6 Series' 'Windstar' 'Mountaineer' 'S60' 'Tahoe'
 'Leaf' 'STS' 'Cobalt' 'Wrangler' 'Accord Crosstour' 'Prius'
 'Captiva Sport' 'XV Crosstrek' 'Xterra' 'G6' 'G Sedan' 'Sonic' 'CT 200h'
 'M35' 'Cadenza' 'Z4' 'G35' 'Express Cargo' 'Tundra' 'C-Max Energi' 'M'
 'Murano' 'TSX' 'X1' 'Versa Note' 'QX56' 'Camaro' 'Elantra GT' 'IS 250'
 '4 Series' 'Expedition' 'Zephyr' 'GS 430' 'NV' 'Highlander'
 'G Convertible' 'range' 'Range Rover' 'Q7' 'S6' 'GX 460' 'Rio'
 'GLK-Class' 'LeSabre' 'S-Class' 'Acadia' 'Genesis' 'DTS' 'Tribeca'
 'Outlander' 'Avalon' 'Cayenne' 'Spark' 'C-Max Hybrid' 'Q5' 'Savana Cargo'
 '911' 'Envoy XL' 'M-Class' 'Ridgeline' 'GS 350' 'S-Type'
 'Silverado 1500 Classic' 'MPV' 'Armada' 'Tucson' 'LS 460'
 'F-250 Super Duty' 'E-Series Wagon' 'RL' 'Compass' 'xB' 'TL' '3500'
 'Outback' 'mkt' 'Golf' 'Uplander' 'Karma' 'Regal' 'Soul' 'PT Cruiser'
 'XC90' 'Tiguan' 'Flex' 'CX-9' 'A5' 'Mariner' 'Neon' 'Cabrio' 'GTI' 'A3'
 'Enclave' 'Discovery Series II' 'Escalade Hybrid' 'Grand Am' 'Aspen'
 'E-Series Van' 'Fusion Hybrid' 'Sedona' 'Accent' 'RAV4' 'tC'
 'Park Avenue' 'Quest' 'Continental GT' 'Bonneville' 'Cavalier' 'G Coupe'
 'Corvette Stingray' 'Element' 'Cherokee' 'Freestar' 'Matrix' 'IS F'
 'Borrego' 'Prizm' 'Five Hundred' 'Camry Hybrid' 'Beetle' 'Rainier' 'f150'
 'Insight' 'Avalanche' 'Lucerne' 'Rondo' '1 Series' 'Aura' 'Blazer' 'XC60'
 'Explorer Sport Trac' 'Impreza' 'Cooper Paceman' 'M6' 'Veloster'
 'Focus ST' 'Impreza WRX' 'pacifica' 'compass' 'EX' 'L-Series' 'Sebring'
 'MKS' 'Econoline Cargo' 'S5' 'Crosstour' 'M6 Gran Coupe' 'allroad' 'Dart'
 'Escape Hybrid' 'i8' 'Aveo' 'Express' 'Relay' 'Gallardo' 'Boxster'
 'Silverado 3500' 'Prius c' '3 Series Gran Turismo' 'S40' 'Titan' 'ES 300'
 'malibu' 'S-10' 'explorer' 'Torrent' 'Sprinter' '626' 'ION' 'Amanti'
 'Escalade EXT' 'TSX Sport Wagon' 'Verano' 'RSX' 'VUE' 'RX-8' 'MDX' 'QX80'
 'Cube' 'C30' 'CLK-Class' 'Shelby GT500' 'Yukon Hybrid' 'TrailBlazer EXT'
 'Silverado 3500HD' 'Fusion Energi' 'Catera' 'Dakota' 'Venza'
 'Sonata Hybrid' '500' 'Encore' '9-5' 'XJ' 'QX' 'Commander' 'fortwo'
 'Elantra Coupe' 'Mazda5' 'Century' 'GranTurismo' 'MX-5 Miata' '9-3' 'G37'
 'IS 250 C' 'CX-5' 'Montero Sport' 'Rogue Select' 'Astro' 'IS 350'
 'CLS-Class' 'Cooper Roadster' 'Escalade' 'H2' 'Veracruz' 'LS 430' 'Z3'
 'Land Cruiser' 'hhr' 'Caravan' 'SX4' 'Lancer Evolution' 'Baja' 'Equus'
 'Forenza' 'IS 350 C' 'Tiburon' 'Outlook' 'QX70' 'Mirage'
 'Mazdaspeed Mazda6' 'S80' 'Escort' 'V60' 'Q50' 'Azera' 'IS 300' 'CC'
 'Routan' 'Eclipse' 'V70' 'Stratus' 'CX-7' 'SLK-Class' 'G20' 'e150'
 'tundra' 'ranger' 'Juke' 'Prius v' 'Montana' 'Eclipse Spyder'
 'FJ Cruiser' 'Vibe' 'Crown Victoria' 'Touareg' 'ES 330' 'FR-S'
 'Santa Fe Sport' '2 Series' 'CL-Class' 'G-Class' 'Grand Vitara'
 'Elantra Touring' 'pathfind' 'Tribute' '9-7X' 'impala' 'Malibu Maxx' 'xD'
 'ZDX' 'Ram Pickup 3500' 'M3' 'ATS' 'Cooper Countryman' 'CR-Z' 'lr3'
 'Jetta GLI' 'Cutlass Supreme' '6 Series Gran Coupe' 'Grand Marquis'
 'cx-7' 'Silverado 2500HD Classic' 'Protege' 'Town Car' 'NV200' 'Celica'
 'Eldorado' 'Altima Hybrid' 'Concorde' 'Intrepid' 'Corvette' 'Freestyle'
 'MKT' 'Excursion' 'Murano CrossCabriolet' 'Silhouette' 'Continental'
 'Highlander Hybrid' 'Outlander Sport' 'XTS' 'odyssey' 'A8' 'Montero'
 'Camry Solara' 'Alero' '370Z' 'LS' 'Magnum' 'Protege5' 'Sierra 2500HD'
 '5 Series Gran Turismo' 'gx' 'Cooper Coupe' 'HS 250h' 'G8'
 'Silverado 2500' 'ILX' 'iQ' 'C/K 1500 Series' 'M37' 'M5' 'Crossfire'
 'sts' 'Envoy XUV' 'LS 400' 'NV Cargo' 'QX60' '350Z' 'Expedition EL' 'gr'
 'Aspire' 'Q60 Convertible' '850' 'Endeavor' 'Jimmy' 'Aviator' 'XJ-Series'
 'SC 430' 'breeze' 'EX35' 'C70' 'Eighty-Eight Royale' 'T100'
 'Beetle Convertible' 'Milan' 'srx' 'Explorer Sport' 'GS 300'
 'F-450 Super Duty' 'Seville' 'jetta' 'Solstice' 'Achieva'
 'Windstar Cargo' '300M' 'LR4' 'Sprinter Cargo' 'H2 SUT' 'Viper' 'RX 400h'
 'Classic' 'Econoline Wagon' 'E-150' 'CTS Wagon' 'Range Rover Evoque'
 '300-Class' 'F430' 'Montego' 'TT' 'RX 450h' 'LR2' 'Silverado 1500HD'
 'Cougar' 'stratus' 'Taurus X' 'Eos' 'galant' 'Mariner Hybrid' 'Rodeo'
 '750i' 'K900' 'rx8' 'G3' 'Venture' 'xA' 'Entourage' 'RX 330'
 'Yukon Denali' 'Villager' 'Cutlass' 'XG350' 'wrangler'
 'B-Class Electric Drive' 'forester' 'Prius Plug-in' 'XG300' 'rrs'
 'X-Type' 'QX50' '500L' '3' 'Canyon' 'C/V Tradesman' 'GX 470' 'ES 300h'
 'R8' 'XK-Series' 'M45' 'Pacifica' '300ZX' 'C/V Cargo Van' 'Metro'
 'Quattroporte' 'CL' 'Sable' 'Mark LT' 'Freelander' 'Tercel' 'Legend' 'S4'
 'GT-R' 'M56' 'CLA-Class' 'WRX' 'F-TYPE' 'Sunfire' 'magnum' 'subrbn'
 'FX45' 'X6 M' 'B9 Tribeca' 'freestyle' 'LR3' 'town' 'Rabbit'
 'Thunderbird' 'escape' 'Q45' 'RLX' 'expedition' 'LX 570' 'BRZ' 'Contour'
 'CTS-V Coupe' 'S-Series' 'patriot' 'CTS Coupe' 'ram' 'G5'
 'B-Series Pickup' 'RS 6' 'lx' 'windstar' 'CTS-V' 'XK' 'Jetta SportWagen'
 'c230wz' 'Q60 Coupe' 'Cirrus' 'Axiom' 'corvette' 'Cutlass Ciera' 'sienna'
 'C/K 3500 Series' 'quest' 'GS 450h' 'GTO' 'TT RS' 'XL-7' 'Touareg 2'
 'F-150 Heritage' 'X5 M' 'G37 Convertible' 'Sierra 1500HD' 'accord' 'XL7'
 'V8 Vantage' 'expeditn' 'Tahoe Hybrid' 'Phaeton' 'Intrigue' 'QX4'
 'GranTurismo Convertible' 'discovery' 'FX50' 'Cabriolet' 'c240w'
 'Malibu Classic' 'VUE Hybrid' 'S70' '350z' 'alero' 'envoy' 'Passport'
 'Astro Cargo' 'g1500' 'Continental Flying Spur' 'V50' 'sr' 'Millenia'
 'thunderbird' 'avalon' 'villager' 'Reno' 'Golf GTI' '500-Class' 'Integra'
 'endeavor' 'excurs' 'M4' 'escalade' 'Lancer Sportback' 'Transit Van'
 'Sierra 2500' 'RS 5' '6' 'g5' 'wave' 'Q70' '400-Class' 'Terraza' 'beetle'
 'Aurora' 'ECHO' 'B-Series Truck' 'Spyder' 'Ascender' 'LX 470' 'Macan'
 'Mustang SVT Cobra' 'durango' 'Sky' 'e350' 'Cayman' 'corolla'
 'allroad quattro' 'police' 'LHS' 'SSR' 'GLI' 'Monterey' 'Avalon Hybrid'
 'Black Diamond Avalanche' 'Truck' 'SC 300' 'DB9' 'Continental GTC' 'b200'
 'quattroporte' 'twn/cntry' 'pilot' 'S-10 Blazer' 'Pickup' '9-2X'
 'charger' 'passat' 'rl' 'tribute' 'Raider' 'S2000' 'Tracker' 'i-MiEV'
 'Eighty-Eight' 'camaro' 'Verona' 'Kizashi' 'taurus' 'yukon' 'S90'
 'Model S' 'Promaster Cargo Van' 'Marauder' 'XC' 'Golf R' 'Tribute Hybrid'
 'Sierra 3500HD' 'Bravada' 'Rapide' 'Diamante' 'Mark VIII' 'rangerover'
 'Sierra 1500 Classic' 'R32' 'ActiveHybrid X6' 'Aztek' 'ridgelin' 'dakota'
 'Astra' 'Ram Cargo' 'Trooper' 'santa' 'Ghost' 'I35' 'ciera' 'g3500'
 'Tahoe Limited/Z71' 'mazda5' 'ActiveHybrid 7' 'Mazdaspeed 3' 'MR2 Spyder'
 'J30' 'L300' 'Prelude' 'venture' 'Continental GT Speed' 'Sonoma' 'ELR'
 'MKZ Hybrid' 'EuroVan' 'Riviera' 'SC 400' 'cl55' 'Mystique' 'Aerio'
 'matrix']
trim ['SE' 'JX35' 'Laredo' ... 'B4000 SE' 'xr' 'Cloth']
body ['Sedan' 'SUV' 'Crew Cab' 'Double Cab' 'suv' 'Minivan' 'sedan' nan
 'Regular Cab' 'Coupe' 'Hatchback' 'Convertible' 'Wagon' 'crew cab'
 'hatchback' 'minivan' 'Genesis Coupe' 'Quad Cab' 'Extended Cab'
 'supercab' 'SuperCrew' 'g sedan' 'Van' 'CrewMax Cab' 'G Sedan'
 'G Convertible' 'van' 'wagon' 'SuperCab' 'E-Series Van' 'coupe'
 'supercrew' 'G Coupe' 'extended cab' 'Koup' 'quad cab' 'tsx sport wagon'
 'Access Cab' 'regular cab' 'Club Cab' 'club cab' 'Elantra Coupe'
 'convertible' 'double cab' 'King Cab' 'g convertible' 'elantra coupe'
 'g coupe' 'crewmax cab' 'e-series van' 'access cab' 'Q60 Convertible'
 'Beetle Convertible' 'CTS Wagon' 'mega cab' 'king cab' 'Navitgation'
 'CTS-V Coupe' 'cts coupe' 'Q60 Coupe' 'cts-v coupe' 'G37 Convertible'
 'GranTurismo Convertible' 'CTS Coupe' 'Mega Cab' 'koup' 'genesis coupe'
 'TSX Sport Wagon' 'beetle convertible' 'Transit Van'
 'Promaster Cargo Van' 'Xtracab' 'promaster cargo van' 'Cab Plus 4']
transmission ['automatic' nan 'manual' 'Sedan']
vin ['3fa6p0h71dr236627' '5n1al0mn8dc329790' '1j8gr48k69c529636' ...
 '5tdzk3eh5cs064330' '1a8hx58n57f585637' '2g1wb58k579369419']
state ['wi' 'ca' 'ne' 'wa' 'nv' 'tx' 'nj' 'nc' 'fl' 'oh' 'va' 'ga' 'il' 'md'
 'pa' 'in' 'sc' 'az' 'mi' 'co' 'mo' 'mn' 'tn' 'ny' 'ab' 'ma' 'ut' 'on'
 'ms' 'pr' 'la' 'hi' 'or' 'qc' 'ok' 'nm' '3vwd17aj3fm259017' 'ns' 'al'
 '3vwd17aj2fm258506']
condition [47. 43. 34. 44. 35. 29. 37. 41. 19. 27. 31. 48.  2. nan 25. 33. 45. 49.
  3. 39. 42.  5. 28. 26. 32. 24. 36.  4. 38.  1. 46. 23. 21. 22. 13. 18.
 16. 14. 17. 11. 15. 12.]
odometer [17548. 22035. 95559. ... 15014. 26459. 75549.]
color ['white' 'gray' 'silver' 'red' 'beige' 'black' 'brown' 'blue' '—' 'orange'
 'burgundy' 'green' 'purple' 'yellow' 'gold' 'off-white' 'turquoise'
 'charcoal' nan '2711' 'pink' '9410']
interior ['black' 'gray' 'beige' 'tan' '—' 'brown' 'green' 'red' 'yellow' 'silver'
 'burgundy' 'blue' 'purple' 'gold' 'off-white' 'white' nan 'orange']
seller ['lease plan usa' 'infiniti of montclair' 'dm northwest inc' ...
 'new horizons credit union' 'exotic leasing & sales' 'city of st peters']
sellingprice [ 14200  31000  11600  15400  18500  26700   6400  14400  13900   2300
   1050  12100  10800  16700   1800  66500   2700  11500  17400   2000
   4300  15100  32600  13000  28600  13500  17500   9100  13400   6000
  10700  25600  16250  27600  52800  35500   6900   8500   1100  11250
   7600  12000  19600   4000  34500    400  18750   7000  21000  13100
  14500  18800   2100  19000  10100  10600   3800   6300  26000   2600
  12700  25200  16400   9400   9500  38000  13700   8700   5500    750
  12200  39500   4250  18000   8800  27000  19700  10200  12500  10400
    250  12400  39900  12600  21400  41200   5900   7100  11800   9300
  16600  22800   8200   8000    850   9000    650   9900   6500   9700
   5200  11000   4500  17300  12800  17800  12300  30000  15000  19500
   1700  20250  23000   3100  11700  16500  33200  39800  20000  47750
  18400  25500   8400  11200  10000  20900   8300   5000  16100   7800
  10750  16000   8600  14100  18900    800    900    375   6600  10900
  23200  21500   3700  30500  16900  47800  20700   4900  28000  22500
  13800  20100  11900  15500  16800  11400  17200  42700   5800  23500
  17000   5300   3400  10500   7400  11300  54500  18200   2900   4800
  17900   4600  23600  37300  18100  24250  25300   6800  14600   1500
  15800  26100  19400  14900  17700  25000  55500  13600  23700   3500
   6200  24500  14700   7500  31300  21700   9800  21100   6100  24400
  17600  15700  23400   8900  26250  14300  36750  13300  36200  35000
  23900  22000  37500  12250   6700  41000  33100   5600  14150   3600
  15600  27250  24600  34750   9200  20500  85500  62800   9600  37600
  33600  23100  10250    500  21800  19300   2450  38600  27300  12900
   3850  21300   2500  29700   4100  22700  10300  58000  22200  21750
   3300  30400   1200  27500  33000  18300   7750  22300  29000   3900
  28400  40700  26200  31800  29800    275  24000   2250  14800  29100
   3000   2800  21200   1600   8100   5700  14000  20600  26800   2400
   6750   4400   1400  18250   7900    700    550   1550  31700  11750
   1000  20800  19100  18600  26400    950  19200  24800  27900   5100
   1650   6250  17100  20400  33300 120000  63250  19900   2350  22250
  20200  21450  11100  29500  36000   5400  30750  58100  18700  27800
  15200    450   7300  22750  14250   4200  15900  17250  25750  21600
  38250  24200   1150  16200  47100  31500    200  10501  15300  27200
  66000  34600  25100  34700  21250  28250  24100   8450  21901  30200
  34100  86600  37400  32100   1900 159000   3200  27400  13200  28500
  14750  28200   1300   7200  16300  22900 110000  56000  31200  33750
  44500  28750   4700   5750   2550  44200  22400  29250   4350  22100
  31600  34000  29750  31100  23300    350  25250    425  36500  47500
  26500   2050  35300  24300  23800  78000  20750  58500  26750  42600
   4150  41700  38800  31400  39000  36700  19800  86500    300  45000
  28900  37200  42000  60500  35700  40500   7250    600    475  25400
  15750  34250  42200  54750   3250   2200   5850  13250  12650   5650
  25700  42900  25800   3050  33250  30700  21900  30600  22600  39200
  30900  42750   7700  34200  32800  24900  26600  33500  24700  67200
  15250  49000   5150  35100  19250  28800  55000  45500  29200  42250
  43900  27100  33400  42800  57250   2150  61250   1450  34800  26300
  28100  36800   9950  36600  43000  13960  50500  54000  20300  40750
  17750  96500  48500  62000  49500  27700  40000  57000  33700  33800
  40300  37000  48250  11450  31750  53000  40400  25900  29300  32000
  29600  38500  41250  23250  59600   4650  30800  37750   3550  32700
  35250   3750  12750   2750   3150  37100  71250  26900   1250  43750
  11950  30100   5250   3450    325  32500  24750  45600  32250  45400
  35200  52250  27750  42300  28700  40800  47300  35750  51500  46500
  37800  39400  23750  53700  14401  52100   9250  48750  59000  37250
  38900  16750  33900  25950  38200  46200  19750  28300  38750   4950
  36400  43500  35400  32750  42500  15801  82000  29701  12201 141000
  47000  34900  44000  50250  30300  13101  32200  39700  39750  36100
  44250  13750   1950   6850 109000  29400  41500  32900  30250  70000
   9501   9350  43250    225  36900  31250  35800  34400  55600  32400
   8250  44400  46000  52200  44750  37900 158000  75500  29900  76000
  50800   1750  44800  80000  43400   1350  38300  45750   4450  40600
   6450   9750  43700  61750  10350   7150  41750   4550  57500  79500
   3950  49200    150  63500  37150  32300  36250  59500  78500   6775
   4850  70500  24301  52000  35600  14550  53750  56500  90000  16801
 101750  76500  45300  17301  56600  94500   6350  16001   1850  56400
   8750   3350  56250  39600  46250  14601  13601   8850  39250  41900
  45250  38100  45800  38700   3650  11301  61500   9701  41100  50100
 103000    175  51700      1  38400   8601  50600  19350  28201  34300
   5950   4750  50750   8101  42400  47600  41600   1025  27501   8501
  46750   9175  18501  11850   9450   7501  39100  78750  23801  65500
  61000   2650  67500   7640  32350  44700   2850  84750  11050  51000
  49800    775  11901  31900  87500  16050 134500  85000  44600  54200
  60000   8550  12901  12850  49600  58250  48400   3920  24725  71500
  71800 108000  10950  35900  40200  20950  50200  48000  41800   9101
   4050   2950  53500  19431  79000   9601  93000  52500  49900    875
  67000  20650  74000  41300  10701  36350  13450  31450  64500  12675
   8150    575  82750  49400    825  59200  93500  43200  25501  11701
  36300    675  17801  11801  40901  52900  92000  53300   9850  99000
  15450  83500  53600  69000  79600  31101  49750  89500  55750  87000
  66250  52750  47200  13150  13901  21425   7350  53400   7901  50000
 117500    525  40250  47250  15590  18450  62500  23301  22201  52300
  10301  84500  12550 131000  15550  14701  44900  12101  52700  75000
  31201  35350  12801   9150  10050   8950   9375  57750  81600  46400
  14950   9990  51400  13550  18150  30225   8801  25050  11601  14160
  83750    725   9650  65000  88500   2875  14350  71600  15050  14450
    560  55400  81500 123000  45200   7201  12950  65300  71000  20301
  24001  68500  23501  51250  49250   7850  73500   7450  82500  47400
  72000  34350  70250  14975   5550  10850  54100  10650  15825   4680
  39300  43600  62750  15601  83000   9801  19801  21601  63000  57900
  16501  41901  51750  10601  29149  12450   7550   5450 116000 139000
   8901 104000  13801  32150  10374  89000  40900   7460   7001 147000
  37700  54900  72500  13001  41400 108200   8401  53900  16401  15925
  64000   7650  11150  48200  18801  13701  10901  63750  66200  17550
   2720  16950  46900  96000  27525  14201  12701  60200  10001   8050
  69200  61400  28125  65800  15901   4725  80250  52600  64400  51001
  11425   5350  10801  91000  15701  17501  58750  84000  16101   1225
  20501]
saledate ['Wed Feb 04 2015 02:30:00 GMT-0800 (PST)'
 'Tue Jun 16 2015 05:00:00 GMT-0700 (PDT)'
 'Thu Jan 15 2015 03:00:00 GMT-0800 (PST)' ...
 'Fri May 22 2015 05:30:00 GMT-0700 (PDT)'
 'Wed Jun 03 2015 06:05:00 GMT-0700 (PDT)'
 'Wed May 27 2015 08:25:00 GMT-0700 (PDT)']

## Clean the data

### Clean up `vin`

In [12]:
vin_up = df['vin'].astype(str).str.upper()

pattern = r'^[A-HJ-NPR-Z0-9]{17}$'

valid_vin_mask = vin_up.str.match(pattern)

df_valid = df.loc[valid_vin_mask].copy()

dropped = (~valid_vin_mask).sum()
print(f"{dropped=}")

dropped=2

### Clean up `make`

In [13]:
make_map = {
    'vw':'Volkswagen',
    'volkswagen':'Volkswagen',
    'gmc':'GMC',
    'gmc truck':'GMC',
    'chevy':'Chevrolet',
    'chevrolet':'Chevrolet',
    'ford':'Ford',
    'bwm':'BMW',
    'bmw':'BMW',
    'hummer':'HUMMER',
    'land rover':'Land Rover',
    'landrover':'Land Rover',
    'mercedes':'Mercedes-Benz',
    'mercedes-benz':'Mercedes-Benz'
}

In [14]:
s = df['make'].str.strip().str.lower()
df['make'] = s.map(make_map)

In [15]:
mask = df['make'].isna() & s.notna()
df.loc[mask, 'make'] = s[mask].str.title()

### Clean up `body`

In [16]:
body_map = {
    'sedan':'Sedan',
    'suv':'SUV',
    'crew cab':'Crew Cab',
    'double cab':'Double Cab',
    'regular cab':'Regular Cab',
    'quad cab':'Quad Cab',
    'extended cab':'Extended Cab',
    'king cab':'King Cab',
    'crewmax cab':'CrewMax Cab',
    'supercab':'SuperCab',
    'supercrew':'SuperCrew',
    'hatchback':'Hatchback',
    'coupe':'Coupe',
    'convertible':'Convertible',
    'wagon':'Wagon',
    'minivan':'Minivan',
    'van':'Van',
    'e-series van':'E-Series Van',
    'access cab':'Access Cab',
    'mega cab':'Mega Cab',
    'transit van':'Transit Van',
    'promaster cargo van':'Promaster Cargo Van',
    'xtracab':'Xtracab',
    'g sedan':'Sedan',
    'g coupe':'Coupe',
    'g convertible':'Convertible',
    'genesis coupe':'Coupe',
    'elantra coupe':'Coupe',
    'tsx sport wagon':'Wagon',
    'beetle convertible':'Convertible',
    'cts wagon':'Wagon',
    'cts coupe':'Coupe',
    'cts-v coupe':'Coupe',
    'q60 convertible':'Convertible',
    'q60 coupe':'Coupe',
    'g37 convertible':'Convertible',
    'navitgation':np.nan,
    'cab plus 4':np.nan,
}

s = df['body'].astype(str).str.strip().str.lower()

df['body'] = s.map(body_map)

mask = df['body'].isna() & s.notna()
df.loc[mask, 'body'] = s[mask].str.replace('-', ' ').str.title()

df['body'] = df['body'].replace({'': np.nan, 'nan': np.nan})

### Clean up `transmission`

In [17]:
trans_map = {
    'automatic': 'Automatic',
    'manual':    'Manual',
}

s = df['transmission'].astype(str).str.strip().str.lower()

df['transmission'] = s.map(trans_map)

### Clean up `state`

In [18]:
import re

st = df['state'].str.upper()

valid = st.str.match(r'^[A-Z]{2}$')

df.loc[~valid, 'state'] = np.nan

### Clean up `color`

In [19]:
for col in ['color','interior']:
    s = df[col].astype(str).str.strip()
    
    s = s.replace({'—': np.nan})

    is_digits = s.str.fullmatch(r'\d+').fillna(False)

    s = s.where(~is_digits, np.nan)

    df[col] = (
        s
        .str.lower()
        .str.replace('-', ' ')
        .str.title()
        .replace({'Nan': np.nan})
    )

/tmp/ipykernel_879/2392785884.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  is_digits = s.str.fullmatch(r'\d+').fillna(False)
/tmp/ipykernel_879/2392785884.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  is_digits = s.str.fullmatch(r'\d+').fillna(False)

### Convert `saledate` to datetime

In [20]:
import pandas as pd

weekday_pattern = r'^(Mon|Tue|Wed|Thu|Fri|Sat|Sun)\s'
mask_dates = df['saledate'].str.match(weekday_pattern, na=False)
df.loc[~mask_dates, 'saledate'] = np.nan

clean = df['saledate'].str.replace(r'\s*\(.*\)$', '', regex=True)

df['saledate'] = pd.to_datetime(
    clean,
    format="%a %b %d %Y %H:%M:%S GMT%z",
    utc=True,
    errors='coerce'
)

In [21]:
df['weekday'] = df['saledate'].dt.day_name()

## Split

In [22]:
df.sample(5)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,sellingprice,saledate,weekday
8749,2012,Ford,Expedition,EL King Ranch,SUV,Automatic,1fmjk1j58cef02224,fl,28.0,60718.0,Black,Gray,tdaf remarketing,23400,2015-06-09 09:00:00+00:00,Tuesday
11559,2014,Ram,1500,SLT,Quad Cab,Automatic,1c6rr6gtxes324625,pa,5.0,26612.0,Red,Gray,enterprise veh exchange/rental,22300,2015-06-11 09:30:00+00:00,Thursday
19506,2013,Volkswagen,Jetta SportWagen,TDI,Wagon,Automatic,3vwpl7aj5dm615312,fl,21.0,19084.0,White,Beige,cox chevrolet inc,16200,2015-02-10 09:15:00+00:00,Tuesday
5469,2001,Ford,Explorer Sport,Base,SUV,Automatic,1fmyu70e61ub41981,ny,NaN,146528.0,Red,Gray,fuccillo kia,650,2014-12-18 17:15:00+00:00,Thursday
21187,2011,Nissan,Sentra,2.0 SR,Sedan,Automatic,3n1ab6ap1bl652678,ga,26.0,82348.0,Black,Gray,landmark auto inc,6600,2015-02-12 10:00:00+00:00,Thursday

In [23]:
X = df.drop('sellingprice', axis=1)
y = df['sellingprice']

In [24]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=1
)

In [25]:
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

## Impute missing values

In [26]:
num_cols = ['year', 'condition', 'odometer']
num_imputer = SimpleImputer(strategy='median')

In [27]:
cat_cols = ['make', 'model', 'trim', 'body', 'transmission', 'color', 'interior', 'seller', 'weekday', 'state']
cat_imputer = SimpleImputer(strategy='most_frequent')

In [28]:
X_train[num_cols] = num_imputer.fit_transform(X_train[num_cols])
X_train[cat_cols] = cat_imputer.fit_transform(X_train[cat_cols])

In [29]:
# transform without fitting on the test set
X_test[num_cols] = num_imputer.transform(X_test[num_cols])
X_test[cat_cols] = cat_imputer.transform(X_test[cat_cols])

In [30]:
median_saledate = X_train['saledate'].median()

for df in (X_train, X_test):
    df['saledate'] = df['saledate'].fillna(median_saledate)

## Deal with datetime

In [31]:
import calendar

for df in (X_train, X_test):
    df['sale_year'] = df['saledate'].dt.year
    df['sale_month'] = df['saledate'].dt.month
    df['sale_day'] = df['saledate'].dt.day
    df['sale_week'] = df['saledate'].dt.isocalendar().week.astype(int)
    df['sale_quarter'] = df['saledate'].dt.quarter
    df['sale_hour'] = df['saledate'].dt.hour
    df['dow_num'] = df['saledate'].dt.weekday
    df['is_weekend'] = (df['dow_num'] >= 5).astype(int)


X_train.drop(['saledate','weekday'], axis=1, inplace=True)
X_test.drop(['saledate','weekday'], axis=1, inplace=True)

### Use cyclical encoding to capture seasonality

In [32]:
def cyc_encode(df, col, period):
    df[f'{col}_sin'] = np.sin(2*np.pi * df[col] / period)
    df[f'{col}_cos'] = np.cos(2*np.pi * df[col] / period)

for df in (X_train, X_test):
    cyc_encode(df, 'dow_num', 7)
    cyc_encode(df, 'sale_month', 12)
    df.drop(['dow_num','sale_month'], axis=1, inplace=True)

### Turn `year` into `age`

In [33]:
for df in (X_train, X_test):
    df['age'] = df['sale_year'] - df['year']

In [34]:
X_train.drop('year', axis=1, inplace=True)
X_test.drop('year', axis=1, inplace=True)

In [35]:
age_bins   = [0, 3, 6, 10, 20, 100] # tackle problem from the giskard report
age_labels = ['0-3y','4-6y','7-10y','11-20y','20+y']
for df in (X_train, X_test):
    df['age_bin'] = pd.cut(df['age'], bins=age_bins, labels=age_labels)

In [36]:
age_encoder = OneHotEncoder(
    drop='first',
    sparse_output=False,
    handle_unknown='ignore'
)

In [37]:
age_train = age_encoder.fit_transform(X_train[['age_bin']])
age_test = age_encoder.transform(X_test [['age_bin']])

In [38]:
X_train.drop(['age','age_bin'], axis=1, inplace=True)
X_test.drop(['age','age_bin'], axis=1, inplace=True)

## Encode features

## Scaling

In [39]:
scaler = StandardScaler()

In [40]:
X_train[['condition','odometer']] = scaler.fit_transform(
    X_train[['condition','odometer']]
)
X_test[['condition','odometer']] = scaler.transform(
    X_test[['condition','odometer']]
)

### Label encoding

In [41]:
transmission_encoder = LabelEncoder()
X_train['transmission'] = transmission_encoder.fit_transform(X_train['transmission'])

X_test['transmission'] = transmission_encoder.transform(X_test['transmission'])

### One-hot

In [42]:
color_encoder = OneHotEncoder(
    drop='first',
    sparse_output=False,
    handle_unknown='ignore'
)
color_train = color_encoder.fit_transform(X_train[['color']])
color_test = color_encoder.transform(X_test[['color']])

In [43]:
interior_encoder = OneHotEncoder(
    drop='first',
    sparse_output=False,
    handle_unknown='ignore'
)
interior_train = interior_encoder.fit_transform(X_train[['interior']])
interior_test  = interior_encoder.transform(X_test[['interior']])

In [44]:
body_encoder = OneHotEncoder(
    handle_unknown='ignore',
    sparse_output=False,
    drop='first'
)

body_train = body_encoder.fit_transform(X_train[['body']])
body_test = body_encoder.transform(X_test[['body']])

In [45]:
make_encoder = OneHotEncoder(
    handle_unknown='ignore',
    sparse_output=False,
    drop='first'
)

make_train = make_encoder.fit_transform(X_train[['make']])
make_test = make_encoder.transform(X_test[['make']])

### Hashing

In [46]:
hash_configs = [
    ('state', 10),
    ('model', 50),
    ('trim',   50),
    ('seller', 100)
]

In [47]:
hashed_train_parts = []
hashed_test_parts  = []

In [48]:
for col, n_feats in hash_configs:
    hasher = FeatureHasher(n_features=n_feats, input_type='string')

    H_train = hasher.transform(X_train[col].astype(str).values.reshape(-1, 1))
    H_test  = hasher.transform(X_test [col].astype(str).values.reshape(-1, 1))

    # take absolute so we don't have negatives (from the giskard report)
    train_arr = np.abs(H_train.toarray())
    test_arr  = np.abs(H_test.toarray())

    df_train = pd.DataFrame(
        train_arr,
        columns=[f'{col}_hash_{i}' for i in range(n_feats)]
    )
    df_test = pd.DataFrame(
        test_arr,
        columns=[f'{col}_hash_{i}' for i in range(n_feats)]
    )

    hashed_train_parts.append(df_train)
    hashed_test_parts.append(df_test)

In [49]:
to_drop = ['color', 'interior', 'state', 'body', 'make', 'model', 'trim', 'seller']
base_train = X_train.drop(to_drop, axis=1)
base_test = X_test.drop(to_drop, axis=1)

## Concatenate everything

In [50]:
X_train = pd.concat(
    [ base_train,
      pd.DataFrame(color_train, columns=color_encoder.get_feature_names_out(['color'])),
      pd.DataFrame(interior_train, columns=interior_encoder.get_feature_names_out(['interior'])),
      pd.DataFrame(body_train,  columns=body_encoder.get_feature_names_out(['body'])),
      pd.DataFrame(make_train,  columns=make_encoder.get_feature_names_out(['make'])),
      pd.DataFrame(age_train, columns=age_encoder.get_feature_names_out(['age_bin'])),
      *hashed_train_parts
    ],
    axis=1
)

X_test = pd.concat(
    [ base_test,
      pd.DataFrame(color_test, columns=color_encoder.get_feature_names_out(['color'])),
      pd.DataFrame(interior_test, columns=interior_encoder.get_feature_names_out(['interior'])),
      pd.DataFrame(body_test,  columns=body_encoder.get_feature_names_out(['body'])),
      pd.DataFrame(make_test,  columns=make_encoder.get_feature_names_out(['make'])),
      pd.DataFrame(age_test,  columns=age_encoder.get_feature_names_out(['age_bin'])),
      *hashed_test_parts
    ],
    axis=1
)

In [51]:
cols_to_drop = ['vin'] # TODO: Don't drop vin, use it to get some other features

X_train = X_train.drop(cols_to_drop, axis=1)
X_test = X_test.drop(cols_to_drop, axis=1)

In [52]:
for col in X_train.columns:
  print(col, X_train[col].nunique())

transmission 2
condition 41
odometer 34684
sale_year 2
sale_day 31
sale_week 31
sale_quarter 4
sale_hour 20
is_weekend 2
dow_num_sin 7
dow_num_cos 7
sale_month_sin 7
sale_month_cos 8
color_Black 2
color_Blue 2
color_Brown 2
color_Burgundy 2
color_Charcoal 2
color_Gold 2
color_Gray 2
color_Green 2
color_Off White 2
color_Orange 2
color_Pink 2
color_Purple 2
color_Red 2
color_Silver 2
color_Turquoise 2
color_White 2
color_Yellow 2
interior_Black 2
interior_Blue 2
interior_Brown 2
interior_Burgundy 2
interior_Gold 2
interior_Gray 2
interior_Green 2
interior_Off White 2
interior_Orange 2
interior_Purple 2
interior_Red 2
interior_Silver 2
interior_Tan 2
interior_White 2
interior_Yellow 2
body_Cab Plus 4 2
body_Club Cab 2
body_Convertible 2
body_Coupe 2
body_Crew Cab 2
body_CrewMax Cab 2
body_Double Cab 2
body_E-Series Van 2
body_Extended Cab 2
body_Granturismo Convertible 2
body_Hatchback 2
body_King Cab 2
body_Koup 2
body_Mega Cab 2
body_Minivan 2
body_Nan 2
body_Navitgation 2
body_Promaster Cargo Van 2
body_Quad Cab 2
body_Regular Cab 2
body_SUV 2
body_Sedan 2
body_SuperCab 2
body_SuperCrew 2
body_Transit Van 2
body_Van 2
body_Wagon 2
body_Xtracab 2
make_Aston Martin 2
make_Audi 2
make_BMW 2
make_Bentley 2
make_Buick 2
make_Cadillac 2
make_Chevrolet 2
make_Chrysler 2
make_Dodge 2
make_Ferrari 2
make_Fiat 2
make_Fisker 2
make_Ford 2
make_GMC 2
make_Geo 2
make_HUMMER 2
make_Honda 2
make_Hyundai 2
make_Infiniti 2
make_Isuzu 2
make_Jaguar 2
make_Jeep 2
make_Kia 2
make_Lamborghini 2
make_Land Rover 2
make_Lexus 2
make_Lincoln 2
make_Maserati 2
make_Mazda 2
make_Mercedes-Benz 2
make_Mercury 2
make_Mini 2
make_Mitsubishi 2
make_Nissan 2
make_Oldsmobile 2
make_Plymouth 2
make_Pontiac 2
make_Porsche 2
make_Ram 2
make_Rolls-Royce 2
make_Saab 2
make_Saturn 2
make_Scion 2
make_Smart 2
make_Subaru 2
make_Suzuki 2
make_Tesla 2
make_Toyota 2
make_Volkswagen 2
make_Volvo 2
age_bin_11-20y 2
age_bin_20+y 2
age_bin_4-6y 2
age_bin_7-10y 2
age_bin_nan 2
state_hash_0 2
state_hash_1 2
state_hash_2 2
state_hash_3 2
state_hash_4 2
state_hash_5 2
state_hash_6 2
state_hash_7 2
state_hash_8 2
state_hash_9 2
model_hash_0 2
model_hash_1 2
model_hash_2 2
model_hash_3 2
model_hash_4 2
model_hash_5 2
model_hash_6 2
model_hash_7 2
model_hash_8 2
model_hash_9 2
model_hash_10 2
model_hash_11 2
model_hash_12 2
model_hash_13 2
model_hash_14 2
model_hash_15 2
model_hash_16 2
model_hash_17 2
model_hash_18 2
model_hash_19 2
model_hash_20 2
model_hash_21 2
model_hash_22 2
model_hash_23 2
model_hash_24 2
model_hash_25 2
model_hash_26 2
model_hash_27 2
model_hash_28 2
model_hash_29 2
model_hash_30 2
model_hash_31 2
model_hash_32 2
model_hash_33 2
model_hash_34 2
model_hash_35 2
model_hash_36 2
model_hash_37 2
model_hash_38 2
model_hash_39 2
model_hash_40 2
model_hash_41 2
model_hash_42 2
model_hash_43 2
model_hash_44 2
model_hash_45 2
model_hash_46 2
model_hash_47 2
model_hash_48 2
model_hash_49 2
trim_hash_0 2
trim_hash_1 2
trim_hash_2 2
trim_hash_3 2
trim_hash_4 2
trim_hash_5 2
trim_hash_6 2
trim_hash_7 2
trim_hash_8 2
trim_hash_9 2
trim_hash_10 2
trim_hash_11 2
trim_hash_12 2
trim_hash_13 2
trim_hash_14 2
trim_hash_15 2
trim_hash_16 2
trim_hash_17 2
trim_hash_18 2
trim_hash_19 2
trim_hash_20 2
trim_hash_21 2
trim_hash_22 2
trim_hash_23 2
trim_hash_24 2
trim_hash_25 2
trim_hash_26 2
trim_hash_27 2
trim_hash_28 2
trim_hash_29 2
trim_hash_30 2
trim_hash_31 2
trim_hash_32 2
trim_hash_33 2
trim_hash_34 2
trim_hash_35 2
trim_hash_36 2
trim_hash_37 2
trim_hash_38 2
trim_hash_39 2
trim_hash_40 2
trim_hash_41 2
trim_hash_42 2
trim_hash_43 2
trim_hash_44 2
trim_hash_45 2
trim_hash_46 2
trim_hash_47 2
trim_hash_48 2
trim_hash_49 2
seller_hash_0 2
seller_hash_1 2
seller_hash_2 2
seller_hash_3 2
seller_hash_4 2
seller_hash_5 2
seller_hash_6 2
seller_hash_7 2
seller_hash_8 2
seller_hash_9 2
seller_hash_10 2
seller_hash_11 2
seller_hash_12 2
seller_hash_13 2
seller_hash_14 2
seller_hash_15 2
seller_hash_16 2
seller_hash_17 2
seller_hash_18 2
seller_hash_19 2
seller_hash_20 2
seller_hash_21 2
seller_hash_22 2
seller_hash_23 2
seller_hash_24 2
seller_hash_25 2
seller_hash_26 2
seller_hash_27 2
seller_hash_28 2
seller_hash_29 2
seller_hash_30 2
seller_hash_31 2
seller_hash_32 2
seller_hash_33 2
seller_hash_34 2
seller_hash_35 2
seller_hash_36 2
seller_hash_37 2
seller_hash_38 2
seller_hash_39 2
seller_hash_40 2
seller_hash_41 2
seller_hash_42 2
seller_hash_43 2
seller_hash_44 2
seller_hash_45 2
seller_hash_46 2
seller_hash_47 2
seller_hash_48 2
seller_hash_49 2
seller_hash_50 2
seller_hash_51 2
seller_hash_52 2
seller_hash_53 2
seller_hash_54 2
seller_hash_55 2
seller_hash_56 2
seller_hash_57 2
seller_hash_58 2
seller_hash_59 2
seller_hash_60 2
seller_hash_61 2
seller_hash_62 2
seller_hash_63 2
seller_hash_64 2
seller_hash_65 2
seller_hash_66 2
seller_hash_67 2
seller_hash_68 2
seller_hash_69 2
seller_hash_70 2
seller_hash_71 2
seller_hash_72 2
seller_hash_73 2
seller_hash_74 2
seller_hash_75 2
seller_hash_76 2
seller_hash_77 2
seller_hash_78 2
seller_hash_79 2
seller_hash_80 2
seller_hash_81 2
seller_hash_82 2
seller_hash_83 2
seller_hash_84 2
seller_hash_85 2
seller_hash_86 2
seller_hash_87 2
seller_hash_88 2
seller_hash_89 2
seller_hash_90 2
seller_hash_91 2
seller_hash_92 2
seller_hash_93 2
seller_hash_94 2
seller_hash_95 2
seller_hash_96 2
seller_hash_97 2
seller_hash_98 2
seller_hash_99 2

In [53]:
X_train.shape

(40000, 338)

## Save everything

In [55]:
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)